[submodule "modules/Generator"]
	path = modules/Generator
	url = git@github.com:TheLartians/Generator.git
[submodule "modules/Event"]
	path = modules/Event
	url = git@github.com:TheLartians/Event.git
[submodule "modules/NDArray"]
	path = modules/NDArray
	url = git@github.com:TheLartians/NDArray.git
[submodule "modules/Parser"]
	path = modules/Parser
	url = git@github.com:TheLartians/Parser.git
